body {
  background-color: #363636;
}

.dropdown{
  position: absolute;
  left: 30px;
  top: 103px;
}

.beaker{
  position: absolute;
  left:800px;
  top: 500px;
}

.test_tube{
  position: absolute;
  left:620px;
  top: 150px;
}

.water_drop{
  position: absolute;
  left: 750px;
  top: 420px;
}

.pole_1{
  position: absolute;
  left: 0px;
  top: 0px;
}

.human{
  position: absolute;
  left: 1500px;
  top: 700px;
}

.radarChart{
  position: absolute;
  left: 1500px;
  top: 80px;
}

.round_beaker{
  position: absolute;
  left: 1000px;
  top: 250px;
}

.legend{
  position: absolute;
  left: 1020px;
  top: 240px;
}

.background{
  position: absolute;
  left: 0px;
  top: 0px;
}
