{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- stylesheets-->
<link rel="stylesheet" href="../static/css/home.css">

<!-- D3 links -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>


<!-- JS script for charts
<script src="/static/js/topojson.js"></script>

<script src="../static/js/pie_chart.js"></script>
-->
<script src="../static/js/main.js"></script>
<script src="../static/js/home.js"></script>
<div class="cauldron"></div>
{% endblock %}
