<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="../static/css/layout.css">
  <!-- https://icons8.com/icons/set/favicon -->
  <link rel="shortcut icon" type="image/png" href="../static/images/test_tube.png"/>
  <title>D3: {% block title %}{% endblock %}</title>

  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css"
      rel="stylesheet" type="text/css">
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.css"
      rel="stylesheet" type="text/css">
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.css"
      rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Navbar for html -->
  <!-- main content -->
  <main class="container p-5">
    {% block main %}{% endblock %}
  </main>

</body>

</html>
